@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
}

.container,
header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 160px;
    height: 150px;
    list-style: none;
    position: absolute;
    top: 10px;
}

.navbar ul {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 55px;
    margin-left: 200px;
}

.navbar ul li a {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 20px;
    display: block;
    width: 140px;
    text-align: center;
    font-family: Raleway;

    &:hover {
        background-image: linear-gradient(to top, #113048, #087235cc);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 70%;
        color: #e8e8e8;
        height: 40px;
        border-radius: 10px;
        border-bottom: #008036cc solid 4px;
    }
}

.container-nav {
    display: flex;
    margin: 0 auto;
}

.btn-cadastre {

    color: #2e2e2e;
    font-size: 20px;
    width: 140px;
    height: 40px;
    font-family: Raleway;
    border: none;
    cursor: pointer;
    background: none;

    &:hover {
        background-color: #ff8900;
        color: #e8e8e8;
        padding: 10px;
        border-radius: 10px;
        border-bottom: #113048 solid 4px;
        opacity: 70%;
        font-weight: 550;
    }
}

.myDropdown {
    position: relative;
}

.myDropdown a {
    line-height: 40px;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.show {
    display: block;
    line-height: 40px;
    z-index: 4;
}

.container-slider {
    margin: 110px auto;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.slider-content {
    width: 300%;
    height: 600px;
    display: flex;

}

.slider-content input {
    display: none;
}

.slider {
    width: 33.33%;
    position: relative;
}

.slider img {
    width: 800px;
}

.manual-navigation,
.navigation-auto div {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;


}

.manual-btn {
    border: 3px solid #e8e8e8;
    background-color: #3333335c;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: -25px 28px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #F39C12;
    }
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -33.33%;

}

#radio3:checked~.first {
    margin-left: -66.66%;
}

.text-container h4 {
    text-align: center;
    height: 22px;
    font-size: 18px;
    margin-top: 120px;
    font-family: Montserrat;
}

.text-container {
    width: 450px;
    height: 600px;
    padding: 15px;
    margin-bottom: 60px;
}

.text-content {
    text-align: center;
    text-align: justify;
    margin-top: 60px;
    line-height: 2rem;
}

.list-container {
    margin-top: 20px;
    padding: 20px;
    line-height: 2rem;
}

.auto-btn1 {
    width: 200px;
}

.text-container-none {
    display: none;
}

.saiba-mais {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-family: Raleway;
    position: relative;
    top: -30px;
    right: -220px;
    background-color: #F39C1233;
    border: 3px solid #C0C0C0;
    cursor: pointer;
    z-index: 5;
}

#icon {
    color: #e8e8e8;
    transition: color 0.3s ease-in-out;
    font-size: 36px;
    color: black;
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 95px;
}

/* CSS Página download */

.container-download {
    display: flex;
    max-width: 1200px;
    margin: 110px auto;
    height: 700px;
    background-image: url(../img/technology1.jpg);
}

.btn-down {
    display: block;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 380px;
    height: 100px;
    font-family: montserratt;
    font-size: 24px;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
}

.down-bi {
    margin: 10px;
    padding: 8px;
    width: 60px;
    height: 60px;
    border: 4px solid #e8e8e8;
    background-color:#F39C12 ;
    border-radius: 30px;
}

/* CSS Página sobre */

.container-global {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
}

.title-global {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 66px;
    padding: 10px;
    font-family: Raleway;
}

.title-global::first-letter {
    font-size: 2em;
}

.text-container-sobre {
    font-family: Open Sans;
    margin: 110px auto;
    height: 550px;
    text-align: center;
    text-align: justify;
    padding: 20px;
    line-height: 1.8rem;
}

.graphic-img  img {
    margin: 110px auto;
    border-radius: 20px;
}

/* CSS Página indústria */

.text-container-ind {
    position: relative;
    font-family: Open Sans;
    margin: 80px auto;
    width: 560px;
    height: 550px;
    padding: 15px;
    text-align: center;
    text-align: justify;
    line-height: 1.6rem;
    background-image: url(../img/grafico5.jpg);
}

.text-container-ind p {
  text-indent: 30px;
}

.text-container-ind p, h2 {
    position: relative;
    color: #000000;
    opacity: 1;
}

.text-container-ind::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);    
}
/* CSS Página Financeiro */
/* CSS Página Varejo */
/* CSS Página Saúde */

.global-image img {
    width: 600px;
    height: 550px;
    margin: 110px 20px;
    border-radius: 20px;
}

.content-global-text {
    width: 550px;
    height: 550px;
    font-family: Open Sans;
    margin: 110px auto;
    padding: 20px;
    text-align: center;
    text-align: justify;
    line-height: 2rem;
}

.container-fale-conosco {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
    background-image: url(../img/conosco1.jpg);
}

.container-fale-conosco::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade aqui */
    z-index: 1;
}

.content-form h2 {
    position: relative;
    z-index: 2;
    color: white; /* Cor do texto */
    text-align: center;
    padding: 20px;
}

.contato {
    width: 250px;
    height: 110px;
    margin-left: 120px;
}

.contato p {
    margin-top: 25px;
    color: #e8e8e8;
    font-family: OpenSans;
    width: 250px;
    height: 110px;
    line-height: 1.4rem;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 200px;
    background-color: #113048;
    color: #e8e8e8;
    margin-top: 90px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgba(243, 156, 18, 56%);
    margin-left: -370px;
    margin-top: 160px;
    font-family: Raleway;
    font-style: 16px;
    color: #e8e8e8;
}
.register{

    z-index: 5;
    display: none;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: #113048;
    
}
/* janela de registro */
.register label, input{
    display: block;
    margin: -2px 70px;
    border-radius: 2px;
}
.register input{
    border: 0;
    caret-color: black;
    padding: 6px;
}
.register label{
    margin-top: 20px;
    margin-bottom: 5px;

}
#nome, #cnpj, #email{
    width: 550px;
    height: 28px;
}
#telefone, #login, #senha{
    width: 315px;
    height: 28px;
}

.button_cadastro{
    width: 210px;
    height: 50px;
    position: absolute;
    right: 110px;
    bottom: 30px;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: #F39C12;
    font-size: 20px;
    font-family: Raleway;
    cursor: pointer;
}

.button_login {
    width: 210px;
    height: 50px;
    position: absolute;
    right: 380px;
    bottom: 30px;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: #F39C12;
    font-size: 20px;
    font-family: Raleway;
    cursor: pointer;
}
.close_register{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 2px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 16px;
}
.box_message{
    display: block;
    background-color: white;
    color: black;
    position: absolute;
    text-align: center;
    font-size: 0.9em;
    width: 210px;
    height: 170px;
    right: 80px;
    bottom: 95px;
    padding: 10px;
    border-radius: 15px;
}
.box_message h1{
    font-family: Raleway;
    text-align: justify;
    /* margin-bottom: 10px; */
}

.box_message h1::first-letter {
    font-size: 47px;
}

.box_message p {
     text-align: justify;
}

.box_open{
    display: block;

}
.fundo{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}