* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container,
header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
   
}

.navbar ul {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 55px;
    margin-left: 200px;
}

.navbar ul li a {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 20px;
    display: block;
    width: 140px;
    text-align: center;
    font-family: Raleway;

    /* margin-left: 30px; */
    &:hover {
        background-image: linear-gradient(to top, #113048, #087235cc);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 70%;
        color: #e8e8e8;
        height: 40px;
        border-radius: 10px;
        border-bottom: #008036cc solid 4px;
    }
}

.btn-cadastre {
    width: 140px;
    height: 40px;
    color: #2e2e2e;
    font-size: 20px;
    font-family: Raleway;
    border: none;
    display: flex;
    position: absolute;
    right: 175px;
    top: 66px;
    justify-content: center;

    cursor: pointer;
    background: none;

    &:hover {
        background-color: #ff8900;
        color: #e8e8e8;
        display: flex;
        position: absolute;
        right: 175px;
        top: 55px;
        padding: 10px;
        border-radius: 10px;
        border-bottom: #113048 solid 4px;
        justify-content: center;
        opacity: 70%;
        font-weight: 550;
    }
}

.logo {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 85px;
    width: 160px;
    height: 150px;
    list-style: none;
    position: absolute;
    top: 60px;
}

footer {
    display: flex;
    flex-direction: column;

    height: 200px;

    background-color: #113048;
    color: #e8e8e8;
}

.contato {
    width: 250px;
    height: 110px;
    margin-left: 136px;
}

.contato p {
    position: absolute;
    top: 1005px;
    color: #e8e8e8;
    font-family: OpenSans;
    width: 250px;
    height: 110px;
    line-height: 1.4rem;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.copyright {
    color: #e8e8e8;
    display: flex;
    margin-top: 160px;
    height: 40px;
    background-color: rgba(243, 156, 18, 56%);
    align-items: center;
    justify-content: center;
    font-family: Raleway;
    font-style: 16px;
}

#icon {
    color: #e8e8e8;
    transition: color 0.3s ease-in-out;
    font-size: 36px;
    color: black;
    display: flex;
    position: fixed;
    right: 85px;
    bottom: 100px;
}

.myDropdown {
    position: relative;
}

.myDropdown a {
    line-height: 40px;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.show {
    display: block;
    line-height: 40px;
    z-index: 4;
}

.container-slider {
    margin: 120px 0px 0px 85px;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.slider-content {
    width: 300%;
    height: 600px;
    display: flex;

}

.slider-content input {
    display: none;
}

.slider {
    width: 33.33%;
    position: relative;
}

.slider img {
    width: 800px;
}

.manual-navigation,
.navigation-auto div {
    position: absolute;
    width: 800px;
    left: 82px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #e8e8e8;
    background-color: #3333335c;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: -25px 28px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #F39C12;
    }
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -33.33%;
}

#radio3:checked~.first {
    margin-left: -66.66%;
}

.text-container h4 {
    text-align: center;
    height: 22px;
    font-size: 18px;
    margin-top: 120px;
    font-family: Montserrat;
}

.text-container {
    width: 450px;
    height: 600px;
    padding: 20px;
    margin-right: 85px;
    margin-bottom: 60px;
}

.text-content {
    text-align: center;
    text-align: justify;
    margin-top: 60px;
    line-height: 2rem;
}

.list-container {
    margin-top: 20px;
    padding: 20px;
    line-height: 2rem;
}

.saiba-mais {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-family: Raleway;
    position: absolute;
    right: 180px;
    top: 800px;
    background-color: #F39C1233;
    border: 3px solid #C0C0C0;
    cursor: pointer;
}

